* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
}

#window {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  background: #e53935;
}
#window::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(-30deg, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 50%);
}

#window > * {
/*   width: 100%; */
  z-index: 100;
}

#players-screen,
#new-rule-screen,
#rules-screen {
  width: 100%;
  max-width: 480px;
  padding: 0 20px;
}

#play-screen {
  width: 100%;
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  cursor: pointer;
}

#text > * {
  width: 100%;
  max-width: 480px;
}

.title {
  text-align: center;
  font-size: 32px;
  letter-spacing: 10px;
}

.btn-absolute {
  position: absolute;
  border-radius: 0;
}

#stop-btn {
  top: 0;
  left: 0;
}

#new-rule-btn {
  top: 0;
  right: 0;
}

#current-rules-btn {
  bottom: 0;
  left: 0;
}

/* improve responsiveness -> big screens */